{port_specs, [
  {"priv/httperl_nif.so", ["c_src/httperl.c", "c_src/uriparser.c"]}
]}.

{port_env, [
  {"LDFLAGS", "$LDFLAGS"},
  {"CFLAGS", "$CFLAGS -Wall -Wextra -pedantic -O3 -march=native -ggdb"}
]}.

{plugins, [
  {pc, ".*",
    {git, "https://github.com/blt/port_compiler.git", {branch, "master"}}}
]}.

{provider_hooks, [
  {pre, [
    {compile, {pc, compile}},
    {clean, {pc, clean}}
  ]}
]}.
